@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.product-image{
    width: 70%;
    height:70%;
    
}
.product-container{
    margin: 40px 40px;
    padding: 40px 40px;
    background-color:#FDF5E6;
    border-style: solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    
}
.product-container:hover{
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}
.product-name{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 320px){
    .product-image{
        width: 35%;
        height: 35%;
     
}
.product-container{
    margin: 10px 10px;
    padding: 15px 15px;
}
.product-name{
    font-size: 16px;
}

}
@media only screen and (min-width: 480px){
    .product-image{
        width: 30%;
        height: 30%;
     
}
.product-container{
    margin: 10px 10px;
    padding: 10px 10px;
}
}
@media only screen and (min-width: 768px){
    .product-image{
        width: 60%;
        height: 60%;
     
}
.product-container{
    margin: 15px 15px;
    padding: 10px 20px;
    max-width: 33%;
    justify-content:center;
    align-items: center;
}
}
@media only screen and (min-width: 992px){
    .product-image{
        width: 70%;
        height: 70%;
     
}
.product-container{
    margin: 20px 20px;
    padding: 30px 15px;
    max-width: 25%;
    justify-content:center;
    align-items: center;
}
}
@media only screen and (min-width: 1200px){
    .product-image{
        width: 60%;
        height: 60%;
     
}
.product-container{
    margin: 20px 20px;
    padding: 20px 20px;
    max-width: 25%;
    justify-content:center;
    align-items: center;
}
}