.product-image{
    width: 300px;
    height: 250px;
    
}
.product-container{
    margin: 40px 40px;
    padding: 40px 40px;
    background-color:#FDF5E6;
    border-style: solid;
    
    
}
.product-container:hover{
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}
.product-name{
    font-weight: bold;
}
@media screen and (min-width: 1024px) and (max-height: 1310px) {
    .product-container{
        margin: 20px 20px;
        padding: 20px 20px;
    }

}
