@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.product-image{
    width: 70%;
    height:70%;
    
}
.product-container{
    margin: 40px 40px;
    padding: 40px 40px;
    background-color:#FDF5E6;
    border-style: solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    
}
.product-container:hover{
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}
.product-name{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 550px){
    .product-image{
        width: 60%;
        height: 60%;
     
}
.product-container{
    margin: 20px 20px;
    padding: 20px 20px;
    max-width: 30%;
    justify-content:center;
    align-items: center;
}
}