.categories{
    margin-top: 30%;
    display:flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    margin-bottom: 5%;
    width: 100%;

}
.all-category:hover{
    cursor: pointer;
}
.all-category{
    font-size: 90%;
}