@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.cart-log-search-container{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
.header-container{
    max-height: 100px;
    width: 100%;
}

.companyName{
    font-family: 'Playfair Display', serif;
    font-size: 40px;   

}
.shop-online-banner{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(133, 93, 213,1)
}

.companyNameContainer{
    width: 100%;
    justify-content: center;
    display: flex;

}

.search-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-flow: row nowrap;
   
   
}
.login-text{
    font-family: 'Open Sans', sans-serif;
    margin-right: 3%;
    padding-left: 3%;
    width: 15%;
    font-size: 80%;
}

.login-text:hover{
    cursor: pointer;
}

.banner-text{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.cartLogo:hover{
    cursor: pointer;

}
.companyName:hover{
    cursor: pointer;
}
.cart-button {
    position: relative;
    background-color: white;
    color: #fff;
    border: none;
    width: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;

  }
  
  .material-symbols-outlined {
    color: black;
    font-size: 40px;
  }
  
  .cart-count {
    position: absolute;
    top: 3px;
    right: -5%;;
    background-color:black;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2% 2%;
    width: 20px;
    text-align: center;
  }
  @media only screen and (min-width: 550px){
    .login-text{
        font-size: 95%;
        margin-right: 3%;
        padding-left: 0;
       
    }
  
  }
  @media only screen and (min-width: 760px){
    .search-container{
        display: flex;
        justify-content: flex-end;
        padding-right: 13%;
    }
    
  }
  @media only screen and (min-width: 900px){
  .cart-count{
    right: 0px;
  }
}  @media only screen and (min-width: 1224px){
    .cart-count{
      right: 10px;
      top: 7px;
    }
    .search-container{
        padding-right: 18%; 
    }
  }
  @media only screen and (min-width: 1610px){
    .cart-count{
      right: 29px;

    }
    .search-container{
        
      padding-right: 22%; 
      
    }
    .login-text{
        font-size: 20px;
    }
  }