
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-body {
    position: absolute;
    left: auto; /* Reset the left property */
    right: 0%; /* Adjust the right property to push to the right end */
    bottom: 10%; /* Adjust the bottom property as needed */
    top: 0%; /* Adjust the top property as needed */
    text-align: center;
    margin: auto;
    border-color: black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
  }
  
  span{
     max-width: 10%;
     transition: transform 0.3s ease;
     margin-left: 320px;
  }
  span:hover{
    transform: rotate(90deg);
    cursor: pointer;
  }

