@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@media only screen and (min-width: 320px){
    .grid-product-page-container{
        display:flex;
        flex-flow: row wrap;
        margin-right: 0%;
    }
    .image-container img{
        width: 150px;
        height: 150px;
    }
    .image-container{
     margin-top: 16px;
     width: 100%;
    margin-bottom: 30px; 
    
  }
  .product-container-page{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
}
.add-to-cart-button{
    width: 200px;
    font-size: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
 }
 .description-header{
    
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
     font-size:12px;
     justify-content: center;
     padding-right: 0px;
    
}
.product-description-text{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-size: 12px;
    padding-top: 10px;
    
}
}
  @media only screen and (min-width: 480px){
   
  }
  @media only screen and (min-width: 768px){
    .image-container img{
        width: 200px;
        height: 200px;
    } 
    .product-description-text{
        font-size: 14px;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
    }
    .add-to-cart-button{
        width: 300px;
        
     }
  }
  @media only screen and (min-width: 992px){
    .grid-product-page-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-right: 30%;
        padding-top: 30px;
    }
    .product-page{
        max-width: 100%;
        padding-bottom: 20%;
        
    }
    .image-container{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-left: 20%;
        margin-right: 10%;
    
    }
    
    .image-container img{
        width: 200px;
        height: 200px;
    }
    .product-container-page{
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: 100%;
        justify-content: center;
        margin-right: 40px;
    }
    .product-name-page{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;;
     
    }
    .add-to-cart-button{
       padding-bottom: 3%;
       padding-top: 3%;
        background-color: #855dd5;
        color: white;
        font-size: white;
        font-weight: bold;
        font-size: 60%;
        width: 100%;
    }
    .description-header{
        padding-right: 80%;
        margin-top: 30px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
         font-size: 16px;
    
    }
    
    .product-description-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        border-top: 2px solid black;
        padding-top: 3%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
    .add-to-cart-button:hover{
        cursor: pointer;
    
    }
    .price-text{
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        font-size: 16px;
        max-width: 100%;
        display: flex;
        justify-self: flex-start;
    }
  }
  @media only screen and (min-width: 1200px){
    .grid-product-page-container{
        display:grid;
        grid-template-columns: 2fr 1.5fr;
        width: 90%;
        margin-right: 20%;
    }
    .image-container{
     padding-left: 20%;
   
    }
    .product-container-page{
        padding-left: 100px;
    }
    .add-to-cart-button{
        font-size: 16px;
        padding-bottom: 12px;
        padding-top: 12px;
     }
     .product-container-page{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
  }