@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.grid-product-page-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-right: 20%;
}
.product-page{
    max-width: 100%;
    padding-bottom: 20%;
    
}
.image-container{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 10%;

}

.image-container img{
    width: 150px;
    height: 150px;
}
.product-container-page{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    
}
.product-name-page{
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
 
}
.add-to-cart-button{
   padding-bottom: 5%;
   padding-top: 5%;
    background-color: #855dd5;
    color: white;
    font-size: white;
    font-weight: bold;
    font-size: 60%;
    width: 100%;
}
.description-header{
    padding-right: 80%;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
     font-size: 60%;

}

.product-description-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 60%;
    border-top: 2px solid black;
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.add-to-cart-button:hover{
    cursor: pointer;

}
.price-text{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-size: 80%;
    max-width: 100%;
    display: flex;
    justify-self: flex-start;
}
@media only screen and (min-width: 550px){
    .product-description-text{
        font-size: 80%;
    }
    .add-to-cart-button{
        font-size: 80%;
    }
    .price-text{
        font-size: 90%;
    }
    .description-header{
        font-size: 80%;
    }
    .add-to-cart-button{
        padding-bottom: 3%;
        padding-top: 3%;
    }
  }
  @media only screen and (min-width: 760px){
    .image-container img{
        width: 200px;
        height: 200px;
    }
    .product-description-text{
        font-size: 12px
    }
    .add-to-cart-button{
        font-size: 80%;
    }
    .price-text{
        font-size: 16px;
    }
    .description-header{
        font-size:16px;;
    }
  }
  @media only screen and (min-width: 1224px){
    .product-container-page{
        width: 60%;
        padding-left: 20%;
        padding-top: 10%;
    }
    .image-container{
     
        margin-left:40%;
     
    
    }
    .product-name-page{
        
        font-size: 26px;
    } 
    .price-text{
        font-size:24px;
    }

  }
  @media only screen and (min-width: 1610px){
  
    .product-description-text{
        font-size: 16px;
    }
    .add-to-cart-button{
        font-size: 80%;
    }
    .price-text{
        font-size:26px;
    }
    .description-header{
        font-size:20px;;
    }   
  }