.sign-up-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: nowrap;
    

}

.create-account-button{
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 16px;
    background-color: #855dd5;
    border: none;
    color: white;
    margin-bottom: 40%;
    width: 100%;

}

.create-account-button:hover{
    cursor: pointer;
}
.sign-up-form{
    width: 50%;
}
@media only screen and (min-width: 760px){
    .sign-up-container{
        width: 100%;
      }
        
      .sign-up-form{
        width: 30%;
    }
    }
  
  @media only screen and (min-width: 1200px){
   

    }